{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/matches.css') }}">
<h1 class="mb-4">Football Matches</h1>
<form method="post" class="mb-4">
    <div class="row">
        <div class="col-md-6">
            <select name="team" class="form-select" required>
                <option value="" disabled selected>Select a team</option>
                {% for team in teams %}
                    <option value="{{ team }}" {% if team == selected_team %}selected{% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Show Matches</button>
        </div>
    </div>
</form>

{% if matches %}
    <h2>Matches for {{ selected_team }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Match ID</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Home Goals</th>
            <th>Away Goals</th>
        </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match['match_id'] }}</td>  <!-- Match ID -->
                <td>{{ match['home_team_name'] }}</td>  <!-- Home Team -->
                <td>{{ match['away_team_name'] }}</td>  <!-- Away Team -->
                <td>{{ match['home_team_score'] }}</td>  <!-- Home Team Goals -->
                <td>{{ match['away_team_score'] }}</td>  <!-- Away Team Goals -->
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% elif selected_team %}
    <p>No matches found for {{ selected_team }}.</p>
{% endif %}
{% endblock %}

