{% extends 'base.html' %}

{% block title %}Season Overview - {{ season['season'] }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/season_overview.css') }}">
<h1 class="mb-4">Season Overview: {{ season['season'] }} - {{ season['tier'] }}</h1>

<h2>Basic Info</h2>
<ul class="list-group mb-4">
    <li class="list-group-item"><strong>Tier:</strong> {{ season['tier'] }}</li>
    <li class="list-group-item"><strong>Division:</strong> {{ season['division'] }}</li>
    <li class="list-group-item"><strong>Subdivision:</strong> {{ season['subdivision'] or 'None' }}</li>
    <li class="list-group-item"><strong>Winner:</strong> {{ season['winner'] }}</li>
    <li class="list-group-item"><strong>Number of Teams:</strong> {{ season['count_teams'] }}</li>
</ul>

<a class="btn btn-dark mt-4" href="{{ url_for('views.home') }}">Back to Home</a>
{% endblock %}
