{%extends "base.html"%} {% block title %}Sign up{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signup.css') }}">
<form method="POST">
    <h3 align="center">Sign up</h3>
    <div class="form-group">
        <label for="email">Email Address</label> 
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required
        value="{{ form_data['email'] if form_data and form_data['email'] else '' }}" />
    </div>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your name" required
        value="{{ form_data['full_name'] if form_data and form_data['full_name'] else '' }}" />
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required/>
    </div>
    <div class="form-group">
        <label for="password2">Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required/>
    </div>
    <br/> 
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
{% endblock %}